.mobileInstructions {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobileInstructions {
    display: block;
    margin: 15px 0;
  }
}

.legenda {
  flex-direction: column;
  margin: 15px 0;
}
